#prevBtn{
  position: absolute;
  top: 285px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#nextBtn{
  position: absolute;
  top: 285px;
  left: 335px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#tankTab{
  position: absolute;
  top: 70px;
  left: 5px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

#bathTab{
  position: absolute;
  top: 70px;
  left: 128px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

#shwrTab{
  position: absolute;
  top: 70px;
  left: 251px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

  /* background-color: cadetblue; */
